<div data-product-id="<%=product.id%>" data-product-name="<%=product.name%>" class="product-card flex-col pd-20 bd bd-color-gray-light bd-rd mg-tb-10">
      
    <h2 class='text-align-center min-h-80p min-w-310p '><%=product.name%></h2>
  
    <img class="w-100 mg-tb-20 min-h-310p min-w-310p" src="<%=product.url%>" alt="product.name" />

    <p class="text-align-justify min-h-200p max-h-250p"><%=product.description%></p>

    <div class='flex-col justify-content-space-around w-100 mg-tb-10 h-100p'>
      <span><%=product.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})%></span>
      <span><%=product.stock%> units in stock </span>
    </div>

    <div class='w-100 mg-tb-10 '>
      <a onclick=" function a(){debugger;window.location.href = window.location.origin + '/detail?id=<%=product.id%>'}; a()">
        <button class="bg-dodgerblue-light pd-10 bd-none bd-rd cursor-pointer">
          <i class="icon-lib fas fa-info-circle"></i>
          Details
        </button>
      </a>
      <button class="bg-coral-light pd-10 bd-none bd-rd cursor-pointer" onclick="cart.addToCart(event)">
        <i class="icon-lib fas fa-shopping-cart "></i>
        Oder Now
        </button>
    </div>
    
  </div>